.trustedBy {
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
    @media (max-width: 768px) { flex-wrap: wrap;}
    .container {
      max-width: 760px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color: rgb(200, 200, 200);
      font-weight: 500;
      @media (max-width: 768px) { flex-wrap: wrap;}
      img{
        height: 50px;
        object-fit: contain;
      }
    }
  }
  