.mp-user-data-new{
    background-color: #f7f7f7;
    padding: 20px 0 40px;
    min-height: 2000px;
}
.box-content{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

.info-column{
    width: 400px;
}
.gigs-column{
    width: 60%;
}
.seller-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #dadbdd;
    padding: 30px;
    font-size: 14px;
    line-height: 130%;
}
