* {
    .link {
      text-decoration: none;
      color: inherit;
    }
  }
  body {
    font: 400 16px / 24px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #62646A;
    width: 100%;
}